body
{
    margin-top: 20px;
    background-image: url(bg3.png);
}

.final{
    position: relative;
    
    margin-left: 120px;
    margin-right: 0px;
    margin-top: 40px;
 
}

#one{
    
    text-align:center;
    font-size: 50px;
  
}
#two
{
    position: relative;
    text-align: right;
    right: 350px;
}
.q{
    margin-top: 100px;
    font-size: 20px;
}
.con{
    background-color: rgba(138, 137, 132, 0.5);
    height: 190px;
    width: 500px;
    margin-top: 100px;
    margin-bottom: 150px;
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif ;
    color:rgb(59, 59, 58);
}

.container{
    position: relative;
    bottom:1334px;
    left: 850px;
    width: 0px;
    
}
.card-body{
    background-color: rgb(172, 166, 166);
}
